* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.display {
  background-color: #87898E;
  height: 100px;
  text-align: right;
}

.display-head {
  color: aliceblue;
  font-weight: bolder;
  font-size: 3rem;
  padding: 20px 10px 0 10px;
}

.inner-panel {
  height: 100px;
}

.btn {
  width: 175px;
  height: 100%;
  font-size: 30px;
  border: 2px solid #666;
}


.primary {
  background-color: #e0e0e0;
}

.secondary {
  background-color: #f5913e;
}

.wide {
  width: 50%;
}
